<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Video Game Achievement Tracker</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <header>
    <nav>
        <ul >
            <li ><a href="#" >Add New Item</a></li>
            <li ><a href="#" >Show Achievements</a></li>
            <li ><a href="#">See All Games</a></li>
        </ul>
    </nav>
    </header>

    {% block content %}
    {% endblock %}

    <footer >
        <p>&copy; Digga Konzern.</p>
        <div class="social-media">
            <a href="#"><img src="facebook.png" alt="Facebook" ></a>
            <a href="#"><img src="twitter.png" alt="Twitter" ></a>
            <a href="#"><img src="instagram.png" alt="Instagram"></a>
        </div>
    </footer>

</body>
</html>